#section-sobre-mim img.fade-in {
    transition: 1s all;
}

#section-sobre-mim h2.fade-in {
    transition: 1.2s all;
}

#section-sobre-mim h3.fade-in {
    transition: 1.3s all;
}

#section-sobre-mim h4.fade-in {
    transition: 1.4s all;
}

#section-sobre-mim p.fade-in {
    transition: 1.5s all;
}